<section class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h2>Sign up</h2>
    </div>
    <div class="card-body">
      <%= render "form", registrations: @registrations %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>

