<section class="col-lg-8 mx-auto">
  <div class="card shadow">
    <div class="card-header">
      <h2>Change your password</h2>
    </div>
    <div class="card-body">
      <%= render "form_edit", passwords: @passwords %>
    </div>
  </div>
  <%= render "devise/shared/links" %>
</section>
