<footer class="fixed-bottom text-bg-dark">
  <div class="row align-items-center mt-2 ms-2">
    <p class="col-10 ">
      About us
    </p>
    <p class="col">
      Kommit I.N.C
    </p>
  </div>
</footer>
