<section class="col-lg-8 mx-auto">
  <div class="card shadow">

    <div class="card-header">
      <h2>Log in</h2>
    </div>

    <div class="card-body">
      <%= render "form", sessions: @sessions %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>
