<section>
<% if current_user.followings.include?(@user) %>
  <h5><%= button_to "Unfollow", unfollow_user_path, method: "POST" %></h5>
<% else %>
  <h5><%= button_to "Follow", follow_user_path, method: "POST"  %></h5>
<% end%>
</section>
